<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519590831369-ckq79bjubj3pp2nocjlmklmt7da6voj3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519590831369-ckq79bjubj3pp2nocjlmklmt7da6voj3</string>
	<key>API_KEY</key>
	<string>AIzaSyDK7gqydNPdPS91cuNcgd7ruBYYckx-OGA</string>
	<key>GCM_SENDER_ID</key>
	<string>519590831369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.hrus.moneywarden.moneyWarden</string>
	<key>PROJECT_ID</key>
	<string>money-warden-5d89e</string>
	<key>STORAGE_BUCKET</key>
	<string>money-warden-5d89e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519590831369:ios:433129f01c0a35f1025fd8</string>
</dict>
</plist>